
  @font-face {
    font-family: DIN-LIGHT;
    src: url(../fonts/DINNEXTLTARABIC-LIGHT.ttf);
}
@font-face {
    font-family: DIN-MEDIUM;
    src: url(../fonts/DIN-NEXT-LT-W23-MEDIUM.otf);
}
nav .nav{
    justify-content: space-around !important;
}
.nav .nav-link {
    color: #a1a2a2;
}
.nav .nav-link.active,.btn-link:hover{
    color:#0d7df9;
}
.nav .nav-link.active{
    border-bottom: 2px solid #0d7df9;
    font-family:  DIN-MEDIUM;
}
.search-box .search-box-input{
    width: 77%;
    display: block;
    margin: 30px auto;
}
/*mycourses-out*/

.mycourses-out{
margin-top: 20px;
}
.mycourses-out-group-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 20px;
}
.mycourses-out-group-btns .btn-mycourses-out{
    background: #0d7df9;
    color: #fff;
    margin: 10px;
    width: 100%
}
.mycourses-online .card-courseInfo-content{
    margin-bottom: 0;
}
.mycourses-online .starrr{
    margin-bottom: 4px
}
.mycourses-online .mycourses-online-note{
    text-align: center;
    display: block;
    font-size: .6rem;
}
.mycourses-online .mycourses-online-continue{
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.3rem;
    margin-bottom: 4px;
    text-decoration: none
}
.mycourses-online .card-courseInfo-react .card-react-heartImg{
    background:url('../imgs/favorite-heartred.svg') no-repeat;
} 
.mycourses-online .card-title{
    margin-top: 20px
}
/*mycourses-gray-header*/
.mycourses-gray-header{
    background: #f1f1f1;
    font-family: DIN-MEDIUM;
    margin-bottom: 15px;

}
.mycourses-gray-header .btn{
    width: 100%;
    text-decoration: none;
    text-align: right;
    position: relative
}
.mycourses-gray-header .icon{
    position: absolute;
    left: 9px;
    top: 4px;
}
.mycourses-gray-header i,.employees-tracker-page .employees-tracker-tab,
.leaderBoard .leaderBoard-presentation{
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
}
.mycourses-gray-header.mycourses-header_active i{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.starrr {
    display: block; 
}
.starrr a {
    font-size: 10px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; 
}
/*mycourses-details-poage*/
.mycourses-details-page .back{
    color: #0d7df9;
    float: left;
    left: 10px;
    display: block;
    position: relative;
    cursor: pointer;
}
.mycourses-details-page .main-card .card-vertical {
    position: relative
}
.mycourses-details-page {
    padding: 10px;
    display: none
}
.mycourses-details-page  .main-card .card-vertical-img{
    height: 100px;
    max-height: 100px;
    border-radius: 6px;
    width: 84px
}
.mycourses-details-page .main-card .starrr{
    margin-bottom: 10px;
}
.mycourses-details-page .main-card .starrr a{
    font-size: .7rem;
}
.mycourses-details-page .main-card{
    padding-bottom: 20px;
    margin-right: 0;
    position: relative
}
.mycourses-details-page .main-card::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 80%;
    margin: auto;
    height: 1px;
    background: #919191;
}

.mycourses-details-page  .mycourses-complete-page .progress{
    width: 100% !important
}

.mycourses-complete-page .mycourses-details-result,
.result-after-page .mycourses-details-result{
    padding: 20px;
}

.mycourses-complete-page .mycourses-details-precent,
.result-after-page .mycourses-details-precent{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.mycourses-complete-page .mycourses-details-precent>div,
.result-after-page .mycourses-details-precent>div{
    width: 100%;
    text-align: center;
    
}
.mycourses-complete-page .mycourses-details-precent>div:first-of-type,
.result-after-page .mycourses-details-precent>div:first-of-type{
    border-left: 1px solid #919191
}
.mycourses-complete-page .mycourses-details-precent span,
.result-after-page .mycourses-details-precent span{
    color: #797979;
    font-weight: bold
}
.mycourses-complete-page .mycourses-details-precent h2,
.result-after-page .mycourses-details-precent h2{
    color: #62bd3c
}

.mycourses-complete-page .mycourses-complete-exam
,.result-after-page .mycourses-complete-exam{
    padding: 10px;
    margin: 15px 0;
    display: inline-block
}

.mycourses-complete-page .btn-exam,.result-after-page .btn-exam{
    text-decoration: none;
    border-radius: 4px;
    float: left;
    padding: 2px 20px;
    margin: 0 10px;
    font-size: 13px;
    font-family: DIN-MEDIUM;
    background: #919191;
    color: #fff
}
.mycourses-complete-page .btn-exam:hover,
.result-after-page .btn-exam:hover{
    background: #0d7df9
}
.mycourses-complete-page .card-padding p,
.result-after-page .card-padding p{
    margin-bottom: 0;
    font-size: 13px;
}
.result-after-page .result-after  h2{
    color: #f2b032
    
}
.result-after-page .result-after-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*mycourses-out-page*/

.mycourses-out-details-page{
    margin: 20px;
}

.mycourses-out-details-page .out-details-page{
    margin-top: 10px;
}
.mycourses-out-details-page .out-send-btn{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.mycourses-out-details-page .btn{
    color:#fff;
    background:#0d7df9;
    float: none;
    padding: 4px 30px;
}

.mycourses-out-details-page ul{
    padding-right: 0
}
.mycourses-out-details-page ul li{
    font-size: .9rem;
    margin-bottom: .5rem;
    position: relative;
    padding-right: 1rem;
    color: #6f7070
}
.mycourses-out-details-page ul li::before {
    content: "";
     background:#0d7df9;
     position: absolute;
     right: 0;
     top:10px;
     width: 8px;
     height: 8px;
     border-radius: 50%;
    }
/*progress-courses-item*/
.bg-success{
    background: #62bd3c !important;
}
.in-progress-main{
    color: #0d7df9;
}
.in-progress-succes{
    color: #62bd3c
}
.in-progress-danger{
    color: #e75839
}

.progress {
    width: 80%;
    height: 6px;
    margin: 5px auto;
    border-radius: 22px;

}
.mycourses-cart-details  p{
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
}

.class{
    background-color: antiquewhite;
}
.show-part{
    display: block;
}
.hide-part{
    display: none;
}
.mycourses-cart{
    cursor: pointer;
}
.course-info{
    cursor: pointer;
}
.course-info:hover{
    opacity: 0.5;
}
.course-details{
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}
.course-details-name{
    color: #0d7df9;
    font-family: DIN-MEDIUM;
    font-size: 1.2rem;
}
.course-details-instructor{
    color: #a1a2a2;
    font-size: o.8rem;
    line-height: 0;
}
.course-details-progress{
    width:90%;
    margin: auto;
    height: 12px;
}
.course-details-content{
    font-size:0.7rem;
}
.lecture{
    width:100%;
    height: 50px;
    margin-top:20px;
}
.lecture > img{
    width:10%;
}
.lecture-details{
    display: inline;
    margin-right:5px;
    width: 66% ;
}
.lecture-name{
    display: inline;
    color: #0d7df9;
    font-size:9px;
    font-weight: bold;
}
.lecture-details-progress{
    height: 10px;
    width:90%;
}
.lecture-time{
    float: left;
    direction: ltr;
}
.time{
    color:#a1a2a2;
    float:left;
    line-height: 50px;
}
.back-courses{
    float:left;
    cursor: pointer;
    color: #0d7df9;
}
.hide_btn {
    opacity: 0!important;
    visibility: hidden!important
 }
 .show_btn {
    opacity: 1!important;
    visibility: visible!important
 }
/*============== Start Style for upcoming and monthly events ===================*/
/*start agenda-events*/
.box-shadow {
    -wbkit-box-shadow: 0 3px 10px #dddddd;
    -webkit-box-shadow: 0 3px 10px #dddddd;
            box-shadow: 0 3px 10px #dddddd;
    border-radius: 8px;
  }

  .events-section {
      width: 90%;
      margin-right: 20px;
  }
  
  .agenda-events {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .agenda-events .title-agenda-event {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 0; 
    font-weight: bold;
    font-family: DIN-LIGHT;
}

  
  .agenda-events .agenda-event {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-right: 0!important
  }
  
  .agenda-events .agenda-event:last-of-type {
    border: 0;
  }
  
  .agenda-events .avatar {
    width: 60px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .agenda-events .avatar img {
    border-radius: 50%;
    height: 60px;
  }
  
  .agenda-events .details-event {
    margin-top: 8px
  }
  
  .agenda-events .details-event h5 {
    margin-bottom: 6px;
    font-size: 15px;
    color: #4e4e4e;
    font-family: DIN-MEDIUM;
  }
  
  .agenda-events .details-event p {
    font-size: 10px;
    color: #4e4e4e;
    margin-bottom: 0;
  }
  
  .agenda-events .time-event {
    color: #4e4e4e;
    font-size: 13px;
  }
  
  .agenda-events .time-event i {
    color: #ff5700;
    font-size: 8px;
  } 
  /*end agenda-events*/
/*============== End Style for upcoming and monthly events ===================*/


/*============== Start Style for upcoming and monthly events ===================*/
/*start agenda-events*/
.box-shadow {
    -wbkit-box-shadow: 0 3px 10px #dddddd;
    -webkit-box-shadow: 0 3px 10px #dddddd;
    box-shadow: 0 3px 10px #dddddd;
    border-radius: 8px;
}

.events-section {
    width: 90%;
    margin: auto
}
  
.events-section .agenda-events {
    padding: 20px;
    margin-bottom: 20px;
}

.agenda-events .agenda-event {
    padding: 20px;
    margin-bottom: 20px;
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-right: 0!important
}

.agenda-events .agenda-event:last-of-type {
    border: 0;
}
  
.agenda-events .agenda-events .title-agenda-event {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 0; 
    font-weight: bold;
    font-family: DIN-LIGHT;
}
  
  .agenda-events .avatar {
    width: 60px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .agenda-events .avatar img {
    border-radius: 50%;
    height: 60px;
  }
  
  .agenda-events .details-event {
    margin-top: 8px
  }
  
  .agenda-events .details-event h5 {
    margin-bottom: 6px;
    font-size: 15px;
    color: #4e4e4e;
    font-family: DIN-MEDIUM;
  }
  
  .agenda-events .details-event p {
    font-size: 10px;
    color: #4e4e4e;
    margin-bottom: 0;
  }
  
  .agenda-events .time-event {
    color: #4e4e4e;
    font-size: 13px;
  }
  
  .agenda-events .time-event i {
    color: #ff5700;
    font-size: 8px;
  }
  /*end agenda-events*/

  /*Start course live now*/
.accordion-live-course {
    width: 95%;
    margin: auto;
    margin-bottom: 20px
}

  .card-course-live {
    width: 90%;
    margin: auto;
    border: 0;
    border-radius: 10px!important;
    overflow: hidden;
}

.card-course-live hr {
    /* margin-bottom: 10px */
}

.card-course-live .live-course {
    margin-bottom: 20px
}

.card-course-live .content {
    padding: 20px;
    padding-bottom: 0
}

.card-course-live .content .live-course {
    display: flex
}

.card-course-live .content .live-course  img {
    width: 91px;
    height: 123px;
    border-radius: 8px;
}

.card-course-live .content .live-course .content-course-live {
    margin-right: 20px
}

.card-course-live .content .live-course .content-course-live h5 {
    font-weight: 600;
    display: flex;
}

.card-course-live .content .live-course .content-course-live h5 p {
    margin-bottom: 0
}

.card-course-live .content .live-course .content-course-live h5 .sign {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.card-course-live .content .live-course .content-course-live h5 .sign .one {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f73c39;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    animation: signingTwo 1s 1s alternate infinite ease-in-out;
    transition: all .2s ease-in-out
}

@keyframes signingTwo {
    0% {transform: scale(2)}
    100% {transform: scale(0)}
}

.card-course-live .content .live-course .content-course-live h5 .sign .two {
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #f97d7d8a;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 2;
    animation: signing 1s 1s alternate infinite ease-in-out;
    transition: all .2s ease-in-out
}

@keyframes signing {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

.card-course-live .content .live-course .content-course-live h6 {
    font-size: 12px;
    color: rgb(146, 146, 146);
}

.card-course-live .content .live-course .content-course-live .btns {
    margin-top: 40px
}

.card-course-live .content .live-course .content-course-live .btns button {
    border: 0;
    width: 80px;
    padding-bottom: 6px;
    border-radius: 4px;
    background-color: #929292;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transform: scale(.9);
    transition: all .2s ease-in-out;
}

.card-course-live .content .live-course .content-course-live .btns button:first-of-type {
    background-color: #6dd24e
}

.card-course-live .content .live-course .content-course-live .btns button:first-of-type:hover {
    background-color: #52b135
}

.card-course-live .content .live-course .content-course-live .btns button:last-of-type {
}

.card-course-live .content .live-course .content-course-live .btns form {
    width: 100%;
    transition: all .2s ease-in-out;
    display: none;
}

.card-course-live .content .live-course .content-course-live .btns form .live-course-notice {
    border: 1px solid #f73c39;
    border-radius: 0 4px 4px 0;
}

.card-course-live .content .live-course .content-course-live .btns form .live-course-action {
    background-color: #f73c39;
    border: 0;
    outline: none;
    color: #fff;
    border-radius: 4px 0 0 4px;
    cursor: pointer
}

/*Class using in jQuery to change status of its buttons when be pressed*/
.disabled {
    background-color: #929292!important
}

.red {
    background-color: #f73c39!important
}

.card-course-live .card-header {
    background-color: #0d7df9;
    padding: 0
}

.card-course-live .card-header button {
    color: #fff;
    font-weight: 600;
    display: block;
    width: 100%
}

.card-course-live .card-header button span {
    float: right;
}

.card-course-live .card-header button i {
    float: left;
    transition: all .5s ease-in-out
}

.card-course-live .card-body {
    margin-bottom: 20px
}

.card-course-live .card-body .wrap-content {
    display: flex
}

.card-course-live .card-body:first-of-type h6 {
    font-weight: 600;
    color: #0d7df9
}

.card-course-live .card-body h6 {
    font-weight: 600;
    color: #919191
}

.card-course-live .card-body .wrap-content p {
    font-size: 12px
}

.card-course-live .card-body:first-of-type .wrap-content button {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    display: block;
    width: 150px;
    background-color: #0d7df9;
    color: #fff;
    font-weight: 800;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5%;
    cursor: pointer;
}

.card-course-live .card-body .wrap-content button {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    display: block;
    width: 150px;
    background-color: #929292;
    color: #fff;
    font-weight: 800;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5%;
    cursor: pointer;
    cursor: default;
    transition: all .2s ease-in-out
}

/*============== End Style for upcoming and monthly events ===================*/


/*============== start Style for leaderboard ===================*/
.leaderBoard .card-vertical {
    padding: 5px 20px;
    position: relative;
    flex-wrap: wrap
}
.leaderBoard .leaderBoard-line{
    margin: 20px;
    background: #ddd;
}
.leaderBoard .card-vertical-img{
    width: 70px;
    height: 70px;
    border-radius: 50%
    
}
.leaderBoard  .leaderBoard-icons,
.profilePage .profilePage-header-icons{
    display: flex;
    padding: 0;
    margin: 0
}
.leaderBoard  .leaderBoard-icons li,
.profilePage .profilePage-header-icons li{
    margin-left: 4px;
    width: 20px;
    height: 20px;
}   
.leaderBoard  .leaderBoard-icons .leaderBoard-icons-award,
.profilePage .profilePage-header-icons-award{
    background: url('../imgs/award.svg') no-repeat;
}
.leaderBoard  .leaderBoard-icons .leaderBoard-icons-smile,
.profilePage .profilePage-header-icons-smile{
    background: url('../imgs/smile.svg') no-repeat;
}
.leaderBoard .leaderBoard-presentation{
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    opacity: .5;

}
.leaderBoard .leaderBoard-presentation:hover{
    opacity: 1;
    color: #6f7070;
}
.leaderBoard .leaderBoard-presentation .leaderBoard-presentation-icon{
    background: url('../imgs/presentation.svg') no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.leaderBoard .leaderBoard-clapping{
    background: url('../imgs/clapping.svg') no-repeat;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 24px;
    top: 16px;
}

/*============== end Style for leaderboard ===================*/

/*============== start Style for profilePage===================*/
.profilePage  .profilePage-header-back{
  width: 100%;
  height: 200px;
  background: url('../imgs/background.png') no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.profilePage .profilePage-header-back .profilePage-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6)
}
.profilePage .profilePage-header .align-self-start{
    position: relative
}
.profilePage .profilePage-header .media{
    padding: 0 30px;
    position: relative;
    top: -5rem;
}
.profilePage .profilePage-image{
    position: relative;
    height: 13rem;
    width: 10rem;
    top: -.75rem;
    border: 4px solid #fdd93a;
    border-radius: 10px;
    overflow: hidden
} 
.profilePage .profilePage-image-icon{
    position: absolute;
    width: 45px;
    height: 45px;
    background: #fdd93a;
    color: #fff;
    border-radius: 50%;
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    bottom:-.2rem;
}
.profilePage .profilePage-img{
    height: 100%    ;
}
.profilePage .profilePage-header .profilePage-name,
.profilePage .profilePage-header .profilePage-position{
    color: #ffff;
    margin-bottom: 0
}
.profilePage .profilePage-header .profilePage-details{
    position: relative;
}
.profilePage .profilePage-header .profilePage-name i{
    font-size: .8rem
}
.profilePage .profilePage-header .profilePage-des{
    position: relative;
    top:2.5rem;
    font-size: 13px;
}
.profilePage .profilePage-header .profilePage-des p{
    margin-bottom: .5rem
}
.profilePage .profilePage-nav{
    background: #f9f9f9f9;
    font-family: DIN-MEDIUM;
    margin-bottom: 15px;
    margin-top: -3.5rem;
    padding: 0 1.3rem;
    justify-content: start !important
}
.profilePage .profilePage-nav .nav-link{
    font-size: 1.2rem;
    padding: .5rem 2rem;
}
.profilePage .profilePage-certifiate{
    padding: 2rem 0;
    cursor: col-resize;
}
/*profilePage-content*/
.profilePage-content{
    padding:1rem 3rem
}
.profilePage-content .profilePage-content-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem
}
.profilePage-content .profilePage-content-header-icon{
    display: inline-block;
    background: url('../imgs/information-button.svg') no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    position: relative;
    display: inline-block;
    top: .2rem;
    right: .4rem
}
.profilePage-content .profilePage-calender .input-group {
    width: 100px;
    border: 1px solid #0d7df9;
    border-radius: 4px;
    color: #0d7df9;
    padding: .1rem .4rem;
}
.profilePage-content .profilePage-calender .form-control {
    color: #0d7df9;
    border: 0;
    text-decoration: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    height: auto;
    font-size: .8rem;
    font-weight: bold
}
.profilePage-content .profilePage-content-chart1{
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    position: relative
}
.profilePage-content .profilePage-content-chart1::after{
    content: '';
    height: 28%;
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.74);
    bottom: 5rem;
}
.profilePage-content .profilePage-content-chart1.hidden-shadow::after{
    display: none
}
.profilePage-content .profilePage-chart-item{
    width: 50%;
    padding: 2rem;
    border-bottom: 1px solid #ddd

}
.profilePage-content .profilePage-chart-item:nth-last-of-type(2),
.profilePage-content .profilePage-chart-item:nth-last-of-type(3){
    border-bottom: 0
}
.profilePage-content .profilePage-chart-item:nth-of-type(odd){
    border-left: 1px solid #ddd
}
.profilePage-content .profilePage-chart-item-percent .profilePage-percent-number{
    font-family: sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
}
.profilePage-content .profilePage-chart-item-percent .profilePage-percent-title{
    font-size: 1.5rem;
    font-family: DIN-MEDIUM
}
.profilePage-content .profilePage-chart-loadMore{
    width: 100%
}
.profilePage-content .profilePage-chart-loadMore a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    float: left;
    margin: 10px;
    display: block;

}
.profilePage-content .profilePage-chart-item_hidden{
    display: none;
}
.profilePage-content .profilePage-line{
    border-top: 2px solid #ddd

}
/*============== end Style for profilePage===================*/
.in-progress {
	direction: rtl;
	text-align: right;
    font-family: DIN-MEDIUM;
    margin-bottom: 20px;
}

.in-progress-primary {

	color: #0d7efa;
}

.recomended-primary {

	color: #fba831;
}
.my-courses {

    margin-right: 10px;
}

.my-courses-recommend {

	margin-bottom: 20px;

	margin-top: 30px;

	margin-right: 10px;

}