@font-face {
    font-family: DIN-LIGHT;
    src: url(../fonts/DINNEXTLTARABIC-LIGHT.ttf);
}
@font-face {
    font-family: DIN-MEDIUM;
    src: url(../fonts/DIN-NEXT-LT-W23-MEDIUM.otf);
}
nav .nav{
    justify-content: space-around !important;
}
.nav .nav-link {
    color: #a1a2a2;
    font-family:   DIN-LIGHT;
}
.nav .nav-link.active,.btn-link:hover{
    color:#027ffc;
}
.nav .nav-link.active{
    border-bottom: 2px solid #027ffc;
    font-family:  DIN-MEDIUM;
}
.search-box .search-box-input{
    width: 77%;
    display: block;
    margin: 30px auto;
}
/*mycourses-actual*/
.mycourses-actual{
margin-top: 20px;
}
/*mycourses-gray-header*/
.mycourses-gray-header{
    background: #f1f1f1;
    font-family: DIN-MEDIUM;
    margin-bottom: 15px;

}
.mycourses-gray-header .btn{
    width: 100%;
    text-decoration: none;
    text-align: right
}
.mycourses-gray-header .icon{
    float: left;
}
.mycourses_gary_header i{
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
}
.mycourses-gray-header.mycourses-header-active i{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.mycourses-actual-item  .mycourses-cart{
    margin: 25px;
    overflow: hidden;
}
.mycourses-actual-item  .mycourses-cart img{
    height: 100%;
    max-height: 90px;
    width: auto
}
.mycourses-actual-item  .mycourses-cart-details{
    margin-right: 20px;
    padding: 5px 0;
}
.mycourses-actual-item  .mycourses-cart-details h6{
    color: #027ffc;
    font-family: DIN-MEDIUM;
}
.mycourses-actual-item  .mycourses-cart-details span{
    display: block;
    color: #a1a2a2;
    font-size: 12px
}
.starrr {
    display: block; 
    float: right;
}
.starrr a {
    font-size: 10px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; 
}
/*progress-courses-item*/
.progress-courses-item  .mycourses-cart-details span,.progress-courses-item .starrr{
    display: inline;
    float: none
}
.mycourses-cart-details .progress {
    width: 80%;
    height: 8px;
    margin: 5px auto;
    border-radius: 22px;

}
.mycourses-cart-details  p{
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
}
.progress-courses-item .mycourses-cart-details h6{
    font-size: 14px;
    margin-bottom: 2px;
}
.progress-courses-item .mycourses-cart-details span{
    font-size: 11px

}
.progress-courses-item .mycourses-cart-details .starrr a{
    font-size: 7px;
}
.class{
    background-color: antiquewhite;
}
.show-part{
    display: block;
}
.hide-part{
    display: none;
}
.mycourses-cart{
    cursor: pointer;
}
.mycourses-cart:hover{
    opacity: 0.5;
}
.course-details{
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}
.course-details-name{
    color: #027ffc;
    font-family: DIN-MEDIUM;
    font-size: 1.2rem;
}
.course-details-instructor{
    color: #a1a2a2;
    font-size: o.8rem;
    line-height: 0;
}
.course-details-progress{
    width:90%;
    margin: auto;
    height: 12px;
}
.course-details-content{
    font-size:0.7rem;
}
.lecture{
    width:100%;
    height: 50px;
    margin-top:20px;
}
.lecture > img{
    width:10%;
}
.lecture-details{
    display: inline;
    margin-right:5px;
    width: 66%;
}
.lecture-name{
    display: inline;
    color: #027ffc;
    font-size:9px;
    font-weight: bold;
}
.lecture-details-progress{
    height: 10px;
    width:90%;
}
.lecture-time{
    float: left;
    direction: ltr;
}
.time{
    color:#a1a2a2;
    float:left;
    line-height: 50px;
}

/*============== Start Style for upcoming and monthly events ===================*/
/*start agenda-events*/
.box-shadow {
    -wbkit-box-shadow: 0 3px 10px #dddddd;
    -webkit-box-shadow: 0 3px 10px #dddddd;
            box-shadow: 0 3px 10px #dddddd;
    border-radius: 8px;
  }

  .events-section {
      margin-top: 330px;
      width: 90%;
      margin-right: 20px;
  }
  
  .agenda-events {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .agenda-events .title-agenda-event {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 0; 
    font-weight: bold;
    font-family: DIN-LIGHT;
  }
  
  .agenda-events .agenda-event {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-right: 0!important
  }
  
  .agenda-events .agenda-event:last-of-type {
    border: 0;
  }
  
  .agenda-events .avatar {
    width: 60px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .agenda-events .avatar img {
    border-radius: 50%;
    height: 60px;
  }
  
  .agenda-events .details-event {
    margin-top: 8px
  }
  
  .agenda-events .details-event h5 {
    margin-bottom: 6px;
    font-size: 15px;
    color: #4e4e4e;
    font-family: DIN-MEDIUM;
  }
  
  .agenda-events .details-event p {
    font-size: 10px;
    color: #4e4e4e;
    margin-bottom: 0;
  }
  
  .agenda-events .time-event {
    color: #4e4e4e;
    font-size: 13px;
  }
  
  .agenda-events .time-event i {
    color: #ff5700;
    font-size: 8px;
  }
  /*end agenda-events*/
/*============== End Style for upcoming and monthly events ===================*/
